<form  action="/posts/<%= @post.id %>" method="post">
<input id= "hidden" type="hidden" name="_method" value="patch">
Blog title: <input type="text" value="<%=@post.name%>" name="name">
Blog content: <input type="text" value="<%=@post.content%>" name="content">
<input type="submit" id="Submit" value="submit">
</form>
